#ml-grid {
    display: grid;
    grid-template-columns: repeat( auto-fit, 250px );
    grid-gap: 10px;
    margin: 10px;
    justify-content: center;
    align-content: start;
}

.ml-groupitem {
    width: 250px;
    height: 375px;
    background-color: #474a59;
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;
    transition: background-color 0.1s;
}

.ml-groupitem:hover {
    background-color: #666a80;
}

.ml-groupitem>.cover {
    width: 100%;
    height: 85%;
    object-fit: cover;
    object-position: center;
}

.ml-groupitem>.title {
    display: flex;
    flex: 1 1 auto;
    margin: 5px;
    align-items: center;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    color: white;
    font-family: 'Noto Sans';
}
